* {
    /*outline: 2px solid red;*/
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 32px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

/*color sync*/
.links, .awesome-text .main-sub {
    color: #d5d6d6;
    font-size: 18px;
}

.awesome-text .main-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

/*awesome*/
.awesome {
    display: flex;
    padding: 128px 0;
    justify-content: space-between;
}

.awesome-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 500px;
}

.awesome-text .main-title {
    width: 400px;
}

.awesome-image {
    background-color: grey;
    width: 500px;
    text-align: center;
}

/*main button*/
.main-button {
    background-color: #3882F6;
    transition: background-color .5s 0s;
    border: 0;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    width: 100px;
    height: 36px;
    margin-top: 8px;
}

.main-button:hover {
    background-color: #81a9e9;
    transition: background-color .5s 0s;
}

/*INFO*/
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

    padding: 32px 0;
}

.info-sections {
    display: flex;
    gap: 64px;
    margin-bottom: 128px;
}

.info-sections .info-sec {
    width: 200px;
    text-align: center;
}

.info-sections .info-sec .info-pic {
    border: 3px solid blue;
    border-radius: 25px;
    height: 200px;
    margin-bottom: 8px;
}

/*sections*/
#head {
    background-color: #1F2937;
    padding: 16px 300px;
}

#info {
    background-color: white;
}

#quote {
    background-color: #E5E7EB;
}

#call {
    background-color: white;
}

/*Don't really need a section for footer, but same purpose*/
.footer {
    background-color: #1F2937;
}